include mixins/message

doctype html
html(lang="ko")
    head
        meta(property="og:type", content=`${siteName}`)
        meta(property="og:url", content="https://youtube-clone-indante.herokuapp.com/")
        meta(property="og:title", content=`${siteName}`)
        meta(property="og:image", content="https://cdn.icon-icons.com/icons2/2351/PNG/512/logo_youtube_icon_143199.png")
        meta(property="og:description", content="YouTube clone by indante")
        meta(property="og:site_name", content=`${siteName}`)
        meta(property="og:locale", content="ko-kr")
        meta(property="og:image:height", content="630")
        meta(property="og:image:width", content="1200")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        if messages.error
            +message("error", messages.error)
        if messages.info
            +message("info", messages.info)
        if messages.success
            +message("sucess", messages.success)
        include partials/header                
        main
            block content
        include partials/footer
    script(src="/static/js/main.js") 
    block scripts