include mixins/message

doctype html
html(lang="ko")
    head
        meta(property="og:type", content=#{siteName})
        meta(property="og:url", content="https://youtube-clone-indante.herokuapp.com/")
        meta(property="og:title", content=#{siteName})
        meta(property="og:image", content="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.flaticon.com%2Fkr%2Ffree-icon%2Fyoutube_1383260&psig=AOvVaw3sNn21aBsn3e29MhpNJ8__&ust=1623318691755000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNjLysGjivECFQAAAAAdAAAAABAL")
        meta(property="og:description", content="YouTube clone by indante")
        meta(property="og:site_name", content=#{siteName})
        meta(property="og:locale", content="ko-kr")
        meta(property="og:image:height", content="630")
        meta(property="og:image:width", content="1200")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        if messages.error
            +message("error", messages.error)
        if messages.info
            +message("info", messages.info)
        if messages.success
            +message("sucess", messages.success)
        include partials/header                
        main
            block content
        include partials/footer
    script(src="/static/js/main.js") 
    block scripts